.spacer {
  padding: 100px;
}

.button-border {
  border-style: solid;
}

.inline {
  display: inline;
}

.link-button {
  background: none;
  border: none;
  color: black;
}

.repository {
  border-style: solid;
}

.refresh-button {
  background: none;
  border: none;
}

#refresh {
  position: absolute;
  top: 10%;
  right: 5%;
}

#logo {
  display: none;
}

#dashboard_div {
  text-align: center;
}

#logout {
  display: none;
}

#search_bar {
  position: relative;
  border-style: solid;
  padding-top: 10px;
}
