<!DOCTYPE html>
<html>
  <head>
    {{template "_header.html"}}
  </head>
  <body>
    {{template "_nav.html"}}
    <div class="container">
      <div class="spacer"></div>
      <div class="row" >
        <div class="col m6 offset-m3" id="search_bar">
          <div class="col m12">
            <div class="ui-widget">
              <label for="repository"></label>
              <input id="repository" placeholder="Search Github repositories here...">
            </div>
            <br>
            Active repositories
            <ul class="collection with-header repo-holder"></ul>
          </div>
        </div>
      </div>
    </div>
    {{template "_footer.html"}}
    <script src="./js/jquery-ui/jquery-ui.js"></script>
    <script src="./js/dashboard.js"></script>
  </body>
</html>
